.chosen-container .search-field input {
  height: 26px !important;
}
label em {
  color: red;
}
.hrm-delte-user-meta:after {
  background: #9C3232;
  border-radius: 7px;
  color: #FDFDFD;
  content: "✖";
  font-size: 12px;
  margin-left: 7px;
  padding: 0 3px;
  cursor: pointer;
}
.hrm-required {
  color: red;
  padding: 6px 0 0;
}
.hrm-clear {
  visibility: hidden;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* start commented backslash hack \*/
.hrm-clear {
  height: 1%;
}
.hrm-clear {
  
}
.hrm-spinner {
  margin-top: 1%;
}
.hrm-success strong {
  color: #1F8478;
}
.hrm-spinner:after {
  background: url("images/loading.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  content: "";
  display: inline-block;
  height: 16px;
  margin-bottom: -3px;
  margin-left: 8px;
  width: 16px;
}
#hrm-visible-form-warp,
.hrm-visible-form-warp,
#hrm-hidden-form-warp {
  margin-top: 1%;
}
#hrm-visible-form-warp .hrm-inside-padding-wrap,
.hrm-visible-form-warp .hrm-inside-padding-wrap,
#hrm-hidden-form-warp .hrm-inside-padding-wrap {
  padding: 5px 10px 20px 20px;
}
#hrm-visible-form-warp .hrm-slider-width,
.hrm-visible-form-warp .hrm-slider-width,
#hrm-hidden-form-warp .hrm-slider-width {
  width: 50%;
}
#hrm-visible-form-warp .hrm-task-wrap,
.hrm-visible-form-warp .hrm-task-wrap,
#hrm-hidden-form-warp .hrm-task-wrap {
  line-height: 30px;
}
#hrm-visible-form-warp .hrm-text-wrap {
  padding: 10px;
}
#hrm-visible-form-warp .hrm-text-label,
#hrm-visible-form-warp .hrm-text-info {
  float: left;
  width: 35%;
  text-align: justify;
}
#hrm-hidden-form-warp .chosen-container {
  width: 30%;
}
#hrm-hidden-form-warp .hrm-form-link {
  text-decoration: none;
}
#hrm-hidden-form-warp #hrm-select {
  position: relative;
}
#hrm-hidden-form-warp .hrm-user-role-wrap {
  position: absolute;
  left: 60%;
  top: -1px;
}
#hrm-hidden-form-warp .hrm-user-role-wrap label {
  width: 40%;
}
#hrm-hidden-form-warp .hrm-user-role-wrap input {
  float: none;
  width: 50%;
}
#hrm-list-form {
  margin-top: 2%;
}
#hrm-list-form .hrm-delete,
#hrm-list-form .hrm-edit {
  display: none;
}
#hrm-list-form .hrm-title-action {
  height: 20px;
  width: 110px;
}
#hrm-list-form .hrm-title-action .hrm-department-edit-btn-wrap,
#hrm-list-form .hrm-title-action .hrm-department-del-btn-wrap {
  float: left;
  display: inline-block;
}
#hrm-list-form .hrm-single-checked {
  margin: 0;
}
#hrm-list-form .hrm-title {
  display: block;
}
#hrm-list-form .hrm-title-wrap:hover .hrm-delete,
#hrm-list-form .hrm-title-wrap:hover .hrm-edit {
  display: inline-block;
}
#hrm-list-form .hrm-all-checked {
  margin: 0;
}
#hrm-list-form .hrm-table-checkbox {
  width: 4%;
}
#hrm-list-form .hrm-nothing-found {
  padding: 10px;
  font-weight: 800;
}
#hrm-list-form .hrm-edit {
  font-size: 10px;
  margin-right: 10px;
  color: #838383;
  font-weight: 800;
}
#hrm-list-form .hrm-delete {
  font-size: 10px;
  color: #A96464;
  font-weight: 800;
}
#hrm-list-form .hrm-table-action-wrap {
  display: inline-block;
  margin-bottom: 5px;
  width: 100%;
}
.hrm-texteditor {
    width: 65%;
    float: left;
}
#hrm-list-form .hrm-table-action-wrap .hrm-left-action {
  width: 100%;
}
#hrm-list-form .hrm-table-action-wrap .hrm-left-action .hrm-tbl-action-btn-sibling,
#hrm-list-form .hrm-table-action-wrap .hrm-left-action .hrm-department-del-btn-wrap {
  float: left;
}
#hrm-list-form .hrm-table-action-wrap .hrm-left-action .hrm-tbl-action-btn-sibling {
  
}
#hrm-list-form .hrm-table-action-wrap .hrm-right-action {
  float: right;
  width: 50%;
}
#hrm-list-form .hrm-table-action-wrap .hrm-right-action #hrm-data-table_filter,
#hrm-list-form .hrm-table-action-wrap .hrm-right-action #hrm-data-table_length {
  float: right;
}
#hrm-list-form .hrm-pagi-src {
  width: 70%;
  float: right;
  text-align: right;
  margin-top: 0px;
}
#hrm-list-form .widefat td {
  padding: 8px 10px;
  text-align: justify;
  width: auto;
}
#hrm-list-form .hrm-task-wrap {
  width: 300px;
  position: relative;
  margin-bottom: 16px;
}
#hrm-list-form .hrm-task-wrap .hrm-task-content {
  float: left;
}
#hrm-list-form .hrm-task-wrap .hrm-task-avatar {
  float: right;
}
#hrm-list-form .hrm-task-title-wrap {
  border: 2px solid #e5e5e5;
  padding: 5px;
  text-align: justify;
}
#hrm-list-form .hrm-running-text {
  background: #fad163;
}
#hrm-list-form .hrm-complete-text {
  background: #1FF14D;
}
#hrm-list-form .hrm-outstanding-text {
  background: #FF9898;
}
#hrm-list-form .hrm-task-status-desc ul {
  margin: 0;
}
#hrm-list-form .hrm-task-status-desc ul li {
  margin: 0;
  display: inline-block;
  margin-right: 5px;
  padding-top: 5px;
}
#hrm-skills .hrm-label-font {
  font-weight: 600;
  font-size: 14px;
}
#hrm-hidden-form,
#hrm-visible-form {
  
}
#hrm-hidden-form label,
#hrm-visible-form label,
#hrm-hidden-form input,
#hrm-visible-form input,
#hrm-hidden-form select,
#hrm-visible-form select,
#hrm-hidden-form textarea,
#hrm-visible-form textarea {
  float: left;
}
#hrm-hidden-form label,
#hrm-visible-form label {
  width: 21%;
  font-size: 14px;
}
#hrm-hidden-form label.hrm-radio,
#hrm-visible-form label.hrm-radio,
#hrm-hidden-form label.hrm-checkbox,
#hrm-visible-form label.hrm-checkbox {
  width: 5%;
}
#hrm-hidden-form input,
#hrm-visible-form input,
#hrm-hidden-form textarea,
#hrm-visible-form textarea,
#hrm-hidden-form select,
#hrm-visible-form select {
  width: 30%;
}
#hrm-hidden-form input[type="radio"],
#hrm-visible-form input[type="radio"],
#hrm-hidden-form input[type="checkbox"],
#hrm-visible-form input[type="checkbox"] {
  width: 0;
  margin: 2px;
}
#hrm-hidden-form span,
#hrm-visible-form span {
  display: block;
}
#hrm-hidden-form .description,
#hrm-visible-form .description {
  margin-left: 21%;
  font-size: 12px;
}
#hrm-hidden-form .hrm-submit-button,
#hrm-visible-form .hrm-submit-button {
  width: auto;
  margin-right: 1%;
}
#hrm-hidden-form input[type='submit'],
#hrm-visible-form input[type='submit'] {
  float: none;
  width: auto;
}
#hrm-hidden-form .hrm-form-field,
#hrm-visible-form .hrm-form-field {
  display: inline-block;
  margin-bottom: 6px;
  position: relative;
  width: 100%;
}
#hrm-hidden-form .hrm-form-field .hrm-multiselect,
#hrm-visible-form .hrm-form-field .hrm-multiselect {
  float: left;
  width: 65%;
}
#hrm-hidden-form .hrm-form-field .multiselect,
#hrm-visible-form .hrm-form-field .multiselect {
  width: 46%;
}
#hrm-hidden-form .hrm-form-field .multiselect__content,
#hrm-visible-form .hrm-form-field .multiselect__content {
  
}
#hrm-hidden-form .hrm-child-field label:first-child,
#hrm-visible-form .hrm-child-field label:first-child {
  margin-left: 2%;
  width: 19%;
}
#hrm-hidden-form .hrm-notification,
#hrm-visible-form .hrm-notification {
  position: absolute;
  left: 52%;
  top: -2%;
  color: red;
  padding: 6px 0 0;
}
.hrm-search-head h3 {
  font-size: 14px;
  line-height: 1.4;
  border-bottom: 1px solid #eee;
  margin: 0;
  padding: 8px 12px;
}
.hrm-premission-form-wrap .hrm-permission-content {
  padding: 8px 12px;
}
.hrm-premission-form-wrap .hrm-permission-check-all {
  float: right;
}
.hrm-search-content #hrm-search-form {
  padding: 10px;
}
.hrm-search-content #hrm-search-form .chosen-container {
  width: 170px;
}
.hrm-search-content #hrm-search-form label {
  float: left;
}
.hrm-search-content #hrm-search-form input,
.hrm-search-content #hrm-search-form select {
  width: 162px;
}
.hrm-search-content #hrm-search-form input[type="submit"] {
  width: auto;
}
.hrm-search-content #hrm-search-form label {
  width: 40%;
  font-size: 14px;
}
.hrm-search-content #hrm-search-form .hrm-notification,
.hrm-search-content #hrm-search-form span {
  display: block;
}
.hrm-search-content #hrm-search-form .hrm-notification {
  color: red;
}
.hrm-search-content #hrm-search-form .description {
  
}
.hrm-search-content #hrm-search-form .hrm-text-wrap {
  float: left;
  width: 32%;
}
.hrm-sub-nav {
  background: #FFFFFF;
  border-color: #CCCCCC;
  border-image: none;
  border-right: 1px solid #CCCCCC;
  border-style: none solid solid;
  border-width: medium 1px 1px;
  color: #898989;
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 10px;
  padding: 5px 20px;
  position: relative;
}
.hrm-sub-nav .hrm-subsubsub {
  margin: 0;
  padding: 0;
}
.hrm-sub-nav .hrm-subsubsub li {
  display: inline-block;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.hrm-sub-nav .hrm-subsubsub a {
  text-decoration: none;
}
.hrm-sub-nav .hrm-subsubsub .hrm-sub-current {
  font-weight: 600;
  color: #000000;
}
.hrm-create-user-form-wrap input:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.hrm-create-user-form-wrap label,
.hrm-create-user-form-wrap input {
  float: left;
  margin-bottom: 14px;
}
.hrm-create-user-form-wrap label {
  width: 30%;
}
.hrm-author-wrap .hrm-author-dis-ul li {
  font-size: 14px;
  line-height: 28px;
  list-style-type: initial;
  margin-left: 3%;
}
.ui-slider .ui-slider-handle {
  height: 15px;
  width: 5px;
  padding-left: 5px;
}
.hrm-file-index-file-wrap .hrm-file-tag {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  max-width: 150px;
  padding: 5px;
}
.hrm-file-index-file-wrap .avatar {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  max-width: 80px;
  padding: 2px;
}
.hrm-secondary-button {
  background: none repeat scroll 0 0 #f7f7f7;
  border-color: #ccc;
  box-shadow: 0 1px 0 #fff inset, 0 1px 0 rgba(0, 0, 0, 0.08);
  color: #555;
  vertical-align: top;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  height: 28px;
  line-height: 26px;
  margin: 0;
  padding: 0 10px 1px;
  text-decoration: none;
  white-space: nowrap;
}
#hrm .hrm-assign-leave .hrm-popup-desc-leave-cat {
  float: right;
}
#hrm .hrm-assign-leave #hrm-list-form .hrm-pagi-src {
  margin-top: 0;
}
#hrm .hrm-notification-cross {
  float: right;
  color: #dd3d36;
  cursor: pointer;
}
#hrm .chosen-search {
  width: 100%;
  display: inline-block;
}
#hrm .chosen-search input[type="text"] {
  width: 100% !important;
}
#hrm .chosen-results {
  overflow-x: visible;
  overflow-y: hidden;
}
#hrm .hrm-pagination .tablenav .tablenav-pages a {
  background: none;
}
#hrm #hrm-job-info .title {
  width: 20%;
}
#hrm #hrm-job-info .title,
#hrm #hrm-job-info .content {
  float: left;
}
#hrm #hrm-job-info .job-content-warp {
  width: 100%;
  display: inline-block;
}
#hrm #hrm-job-info .padding-wrap {
  padding-left: 10px;
}
#hrm #hrm-list-form {
  width: 100%;
}
#hrm #hrm-list-form #hrm-data-table {
  width: 100%;
}
#hrm #hrm-list-form #hrm-data-table .odd {
  background: #f9f9f9;
}
#hrm #hrm-list-form .widefat td,
#hrm #hrm-list-form .widefat th {
  padding: 8px 10px;
}
#hrm #hrm-list-form .hrm-before-table {
  display: inline-block;
  width: 100%;
}
#hrm #hrm-list-form .hrm-sub-table td {
  width: 50%;
  text-align: right !important;
}
#hrm #hrm-list-form .dataTables_filter,
#hrm #hrm-list-form .dataTables_length {
  float: right;
  margin-bottom: 10px;
}
#hrm #hrm-list-form .dataTables_filter::after,
#hrm #hrm-list-form .dataTables_length::after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
#hrm #hrm-list-form .hrm-table-action-wrap {
  width: 100%;
}
#hrm #hrm-list-form .hrm-table-action-wrap .hrm-add-button {
  margin-right: 5px;
}
#hrm #hrm-list-form .dataTables_length {
  margin-left: 5px;
}
#hrm #hrm-list-form .dataTables_paginate {
  float: right;
  margin-top: 10px;
}
#hrm #hrm-list-form .dataTables_paginate .paginate_button {
  background: none repeat scroll 0 0 #f7f7f7;
  border-color: #ccc;
  box-shadow: 0 1px 0 #fff inset, 0 1px 0 rgba(0, 0, 0, 0.08);
  color: #555;
  vertical-align: top;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  height: 28px;
  line-height: 26px;
  margin: 0;
  padding: 0 10px 1px;
  text-decoration: none;
  white-space: nowrap;
  margin: 0 2px;
}
#hrm #hrm-list-form .dataTables_empty {
  text-align: center;
}
#hrm #hrm-file-index .hrm-file-tag {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  max-width: 150px;
  padding: 5px;
}
#hrm #hrm-file-index .avatar {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  max-width: 80px;
  padding: 2px;
}
#hrm #hrm-file .hrm-file-tag {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  max-width: 150px;
  padding: 5px;
}
#hrm #hrm-file .avatar {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  max-width: 80px;
  padding: 2px;
}
#hrm #hrm-file #hrm-upload-file-container {
  border: 1px dashed #9f9898;
  margin-left: 21%;
  margin-bottom: 15px;
  margin-top: 50px;
  padding: 10px;
  text-align: center;
  width: 29%;
}
#hrm #hrm-file #hrm-upload-file-container #hrm-filelist .hrm-single-progress {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
#hrm #hrm-file #hrm-upload-file-container #hrm-filelist .hrm-single-progress .hrm-filename {
  left: 2%;
  position: absolute;
  text-align: left;
  width: 98%;
}
#hrm #hrm-file #hrm-upload-file-container #hrm-filelist .hrm-single-progress .hrm-filename strong {
  position: absolute;
  right: 2%;
}
#hrm #hrm-file #hrm-upload-file-container #hrm-filelist .hrm-single-progress .hrm-upload-bar {
  height: 20px;
  background-color: #5EB95E;
  width: 1px;
}
#hrm .hrm-personal {
  position: relative;
}
#hrm .hrm-personal .hrm-employee-avatar,
#hrm .hrm-personal .hrm-profile-image-wrap {
  position: absolute;
  top: -585px;
  left: 56%;
}
#hrm .hrm-personal .hrm-employee-display-name {
  font-size: 24px;
  left: 110%;
  line-height: 8px;
  position: absolute;
  top: 10%;
  width: 375px;
  font-weight: 900;
}
#hrm .hrm-personal #hrm-user-image-wrap img {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 2px;
}
#hrm .hrm-personal .hrm-employee-pic-text {
  position: absolute;
  top: 24%;
  left: 110%;
  width: 100%;
}
#hrm .hrm-personal #hrm-pickfiles {
  position: absolute;
  top: 24%;
  left: 168%;
  text-decoration: none;
}
#hrm .hrm-personal .hrm-delete-file {
  position: absolute;
  top: 24%;
  left: 199%;
  width: 100%;
  text-decoration: none;
  margin: 0;
}
#hrm .hrm-personal .hrm-delete-file:before {
  content: "| ";
}
#hrm #hrm-eployee-list #hrm-upload-file-container,
#hrm #hrm-admin-list #hrm-upload-file-container {
  margin-left: 21%;
}
#hrm #hrm-eployee-list .hrm-employee-pic-text,
#hrm #hrm-admin-list .hrm-employee-pic-text {
  left: 20%;
  position: absolute;
  top: 9%;
}
#hrm #hrm-eployee-list #hrm-user-image-wrap img,
#hrm #hrm-admin-list #hrm-user-image-wrap img {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 2px;
}
#hrm #hrm-eployee-list #hrm-drop-files-zone,
#hrm #hrm-admin-list #hrm-drop-files-zone {
  left: 20%;
  position: absolute;
  top: 21%;
}
#hrm #hrm-eployee-list #hrm-drop-files-zone a,
#hrm #hrm-admin-list #hrm-drop-files-zone a {
  text-decoration: none;
}
#hrm #hrm-eployee-list .hrm-delete-file:before,
#hrm #hrm-admin-list .hrm-delete-file:before {
  content: "| ";
}
#hrm #hrm-eployee-list .hrm-delete-file,
#hrm #hrm-admin-list .hrm-delete-file {
  left: 25%;
  position: absolute;
  top: 21%;
  text-decoration: none;
  margin: 0;
}
#hrm #hrm-admin-leave-summary,
#hrm #hrm-assign-leave-summary {
  margin-top: 0px;
}
#hrm #hrm-admin-leave-summary .hrm-popup-desc-leave-cat,
#hrm #hrm-assign-leave-summary .hrm-popup-desc-leave-cat {
  float: right;
}
#hrm #hrm-admin-leave-summary .hrm-table-action-wrap,
#hrm #hrm-assign-leave-summary .hrm-table-action-wrap {
  float: none;
  margin-bottom: 0;
  width: auto;
}
#hrm #hrm-admin-leave-summary #hrm-list-form,
#hrm #hrm-assign-leave-summary #hrm-list-form {
  position: relative;
  margin-top: 55px;
}
#hrm #hrm-admin-leave-summary .hrm-delete-button,
#hrm #hrm-assign-leave-summary .hrm-delete-button {
  float: left;
}
#hrm #hrm-admin-leave-summary .hrm-before-table,
#hrm #hrm-assign-leave-summary .hrm-before-table {
  float: right;
  width: auto;
}
#hrm #hrm-admin-leave-summary .hrm-add-button,
#hrm #hrm-assign-leave-summary .hrm-add-button {
  position: absolute;
  top: -43px;
  left: 0;
}
#hrm #hrm-admin-leave-summary .hrm-pagi-src,
#hrm #hrm-assign-leave-summary .hrm-pagi-src {
  position: absolute;
  top: -55px;
  left: 30%;
}
#hrm #hrm-admin-leave-summary table th,
#hrm #hrm-assign-leave-summary table th,
#hrm #hrm-admin-leave-summary table td,
#hrm #hrm-assign-leave-summary table td {
  padding: 0;
}
#hrm #hrm-admin-leave-summary .hrm-head-notice,
#hrm #hrm-assign-leave-summary .hrm-head-notice {
  font-size: 10px;
}
#hrm #hrm-admin-leave-summary .hrm-nested-table,
#hrm #hrm-assign-leave-summary .hrm-nested-table {
  border-spacing: 0;
  border-collapse: collapse;
}
#hrm #hrm-admin-leave-summary .hrm-nested-table td:first-child,
#hrm #hrm-assign-leave-summary .hrm-nested-table td:first-child {
  padding-left: 11px;
  padding-top: 10px;
  width: 30px;
}
#hrm #hrm-admin-leave-summary .hrm-nested-table .hrm-table-checkbox,
#hrm #hrm-assign-leave-summary .hrm-nested-table .hrm-table-checkbox {
  width: 16px;
}
#hrm #hrm-admin-leave-summary .hrm-nested-table .hrm-leave-td-tr,
#hrm #hrm-assign-leave-summary .hrm-nested-table .hrm-leave-td-tr {
  padding: 10px;
  padding-left: 0;
}
#hrm #hrm-admin-leave-summary .hrm-nested-table .hrm-leave-cal-bottom,
#hrm #hrm-assign-leave-summary .hrm-nested-table .hrm-leave-cal-bottom {
  padding-bottom: 20px;
}
#hrm #hrm-admin-leave-summary .hrm-leave-td-tr,
#hrm #hrm-assign-leave-summary .hrm-leave-td-tr {
  width: 12%;
}
#hrm .hrm-my-task .hrm-my-task-body {
  padding: 10px;
}
#hrm .cpm-pagination-wrap {
  margin-top: 10px;
}
#hrm .cpm-pagination-wrap .cpm-pagination-btn {
  padding: 4px 10px;
  margin-right: 5px;
  font-size: 12px;
  line-height: 1.5;
  text-decoration: none;
  display: inline-block;
  background: #fff;
}
#hrm .cpm-pagination-wrap .router-link-active,
#hrm .cpm-pagination-wrap > .cpm-pagination-btn:hover {
  background: #32373c;
  border-color: #ddd;
  color: #fff;
}
.hrm-ui-dialog {
  left: 32% !important;
  top: 10% !important;
}
.hrm-leave-details-dialog .widefat {
  border: none;
}
.hrm-disable-field-css {
  resize: none !important;
  border: none !important;
}
.hrm-partial-payment-date-field,
.hrm-partial-payment-amount-field {
  width: 60%;
}
.hrm-records-text {
  margin-bottom: 8px;
  line-height: 2;
}
.hrm-records-text h2 {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.hrm-records-from {
  margin-right: 8px;
}
.hrm-records-text .hrm-records-from,
.hrm-records-text .hrm-records-to {
  float: left;
  font-size: 14px;
  background: #fff;
  padding: 2px 12px;
  border: 1px solid #e5e5e5;
}
.hrm-records-text .hrm-records-from h2,
.hrm-records-text .hrm-records-to h2 {
  display: inline-block;
  margin-right: 8px;
}
.hrm-records-text .hrm-records-from i,
.hrm-records-text .hrm-records-to i {
  margin-right: 5px;
}
.hrm-attendance .hrm-attendance-user-serch-wrap .hrm-form-field {
  float: left;
  width: 25%;
}
.hrm-attendance .hrm-attendance-user-serch-wrap .hrm-form-field label {
  margin-right: 5px;
  font-weight: 600;
}
.hrm-attendance .hrm-attendance-user-serch-wrap .hrm-form-field .hrm-date-picker-from,
.hrm-attendance .hrm-attendance-user-serch-wrap .hrm-form-field .hrm-date-picker-to {
  width: 80%;
  padding: 5px;
}
.hrm-attendance .hrm-punch-in-out-main {
  text-align: center;
}
.hrm-attendance .hrm-clock-wrap {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
.hrm-attendance .hrm-clock-wrap time {
  margin-right: 10px;
}
.hrm-multiselect .multiselect {
 /* width: 30%;*/
}
.hrm-multiselect .multiselect .multiselect__input {
  width: 100% !important;
  border-radius: 0;
}
.hrm-multiselect .multiselect .multiselect__tags {
 /* border-radius: 0;
  min-height: 0px;
  display: block;
  padding: 0;
  border-radius: 0px;
  border: 0px solid #e8e8e8;*/
}
.hrm-multiselect .multiselect .multi-img-wrap {
  width: 10%;
}
.hrm-multiselect .multiselect .multi-img-wrap,
.hrm-multiselect .multiselect .option__desc {
  float: left;
}
.hrm-multiselect .multiselect .multiselect__option--highlight {
  background: #f1f1f1;
  color: #000;
}
.hrm-multiselect .multiselect .multiselect__option--selected:after {
  content: "\2713 ";
  background: #f1f1f1;
  color: #000;
}
.hrm-leave .hrm-leave-jquery-fullcalendar {
  width: 60%;
  margin-left: 21%;
  margin-bottom: 15px;
}
.hrm-attachment-area {
  float: left;
}

.hrm-multiselect .multiselect__input {
  position: relative !important;
  float: none !important;
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;

}

.hrm-multiselect .multiselect__input:focus,
.hrm-multiselect .multiselect__input:active,
.hrm-multiselect .multiselect__input:hover,
.hrm-multiselect .multiselect__input:visited {
  outline: none !important;
  border: none !important;
  box-shadow: none;
}

.hrm-multiselect .multiselect__tags {
    min-height: 32px;
    padding: 5px 40px 0 8px;
}

.hrm-multiselect .multiselect__select {
    height: 30px;
}
.pm-pagination-wrap {
  margin-top: 10px;
}
.pm-pagination-wrap .pm-pagination-btn {
  padding: 3px 3px 3px 5px;
  background: #585858;
  border: 1px solid;
  color: #fff;
  text-decoration: none;
}
.pm-pagination-wrap .router-link-active {
  background: #9ea3a8;
}



#hrm .preloader-animation,
.hrm .preloader-animation {
    display: inline-block;
    height: 6.5em;
    width: 7.1em;
    background: url("images/hrm-loading.gif") no-repeat center center;
    animation: none;
    border: none;
}

#hrm .preloader-update-animation,
.hrm .preloader-update-animation {
    display: inline-block;
    height: 70px;
    width: 70px;
    background: url(images/load-icon.gif) no-repeat center center;
    animation: none;
    border: none;
    background-size: 70px;
}

#hrm .preloader-animation:before,
#hrm .preloader-animation:after,
.hrm .preloader-animation:after,
.hrm .preloader-animation:before {
  display: none;
}

.hrm-tbl-action-wrap {
  
}

#hrm .new-records,
.hrm .new-records {
  background: #5b9dd91a;
}

#hrm .inline-edit-col,
.hrm .inline-edit-col {
    width: 100%;
}

#hrm .inline-edit-col .title,
.hrm .inline-edit-col .title,
.hrm .inline-edit-col .input-text-wrap,
#hrm .inline-edit-col .input-text-wrap {
    float: left;
}

#hrm .inline-edit-col .title,
.hrm .inline-edit-col .title {
    width: 15%;
}

.hrm .inline-edit-col .input-text-wrap,
#hrm .inline-edit-col .input-text-wrap {
    width: 60%;
    margin-left: 0;
}

.hrm .inline-edit-col .hrm-edit-field-wrap,
#hrm .inline-edit-col .hrm-edit-field-wrap{
    margin-bottom: 3px;
}

.hrm .inline-edit-col .input-text-wrap input,
#hrm .inline-edit-col .input-text-wrap input,
.hrm .inline-edit-col .input-text-wrap textarea,
#hrm .inline-edit-col .input-text-wrap textarea,
.hrm .inline-edit-col .input-text-wrap .multiselect,
#hrm .inline-edit-col .input-text-wrap .multiselect {
    width: 50%;
}

#hrm .hrm-edit-form,
.hrm .hrm-edit-form {
    margin: 10px 0 10px 0;
}

.hrm-tbl-action-wrap .hrm-table-action {
  display: inline-block;
  vertical-align: top;
}
.hrm-tbl-action-wrap .hrm-table-action .multiselect__tags {
  border-radius: 0;
  border: 1px solid #ddd;
  width: 180px;
}

.hrm-tbl-action-wrap .hrm-table-action .search-input {
  padding: 6px;
  width: 135px;
  border: 1px solid #ddd;
}

.hrm-tbl-action-wrap .hrm-table-action input[type="submit"] {
  margin-top: 2px;
}
.nav-tab-wrapper .nav-tab-active,
.nav-tab-wrapper .router-link-exact-active {
  background: #f1f1f1;
}

.nav-tab-wrapper .router-link-active {
  background: #f1f1f1;
}

.preloader-container {
  top: calc(50% - 3.25em) !important;
}
.hrm-field-sets {
  border: 1px solid #eee;
}
.hrm-field-sets .hrm-form-field-wrap {
  float: left;
  width: 50%;
}
.hrm-field-sets .hrm-field-set-content {
  padding: 10px;
}
.hrm-field-sets .hrm-field-set-title {
  background: #eee;
  padding: 10px;
  margin-bottom: 8px;
  font-weight: 500;
}
.hrm-field-sets .hrm-child-field input {
  float: none !important;
  display: block;
}
.hrm-field-sets .hrm-child-field {
  margin-left: 21%;
}
#hrm-hidden-form .hrm-action-wrap {
  margin-top: 15px;
}

.hrm-left, .hrm-label, .hrm-label-content {
  float: left;
}
.hrm-label {
  width: 30%;
}






